# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ERICHT_SAMOKLAVA_LEFT
	def_bool $(shields_list_contains,ericht_samoklava_left)

config SHIELD_ERICHT_SAMOKLAVA_RIGHT
	def_bool $(shields_list_contains,ericht_samoklava_right)
